numpy
pandas
matplotlib
#PyMuPDF==1.25.5
openai
langchain
langchain-community
langchain_experimental 
langchain-together
langchain-openai
playwright
beautifulsoup4
#faiss-cpu==1.10.0
#tiktoken==0.9.0
#opencv-python==4.11.0.86
gdown
flask
Werkzeug
python-dotenv
youtube_search
youtube-transcript-api
pytube
wikipedia
xmltodict
semanticscholar
nest_asyncio